@model aes.Models.Predmet

@{
    ViewData["Title"] = "Edit";
}

<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="h6" style="font-size: 0.8rem;">Klasa: @Model.Klasa Naziv: @Model.Naziv</p>
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row space-10-10">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Klasa" class="control-label"></label>
                    <input asp-for="Klasa" class="form-control form-control-sm" />
                    <span asp-validation-for="Klasa" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control form-control-sm" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-start align-items-center padding-30">
            <button type="submit" class="dt-button">Spremi</button>
        </div>
    </form>
    <hr />
    <div class="">
        <button onclick="location.href='@Url.Action("Index", "Predmeti")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
