<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Predmeti - pregled</p>
        <a class="link-head" asp-controller="Predmeti" asp-action="Create">
            <i class="bi bi-plus"></i>unos novog
        </a>
    </div>
    <table class="display nowrap w-100" id="PredmetiTable">
        <thead>
        <tr>
            <th>Klasa</th>
            <th>Naziv</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/Predmeti/IndexDatatables.js"></script>