@*@model IEnumerable<aes.Models.Predmet>

    @{
        ViewData["Title"] = "Index";
    }*@


<h4>Predmeti</h4>
<hr />
<p>
    <a asp-action="Create">Dodaj novi</a>
</p>
<hr />
<table class="display nowrap" id="PredmetiTable" style="width:100%">
    <thead>
        <tr>
            <th>Klasa</th>
            <th>Naziv</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        $('#PredmetiTable').DataTable({
            "ajax": {
                "url": "/Predmeti/GetList",
                "type": "POST",
                "datatype": "json"
            },
            // name mi treba za filter u controlleru - taj se parametar pretražuje po nazivu
            // koristi se kao selector (nije posve jasna dokumentacija)
            "columns": [

                { "data": "klasa", "name": "klasa" },
                { "data": "naziv", "name": "naziv" },
            ],
            "paging": true,
            "serverSide": true,
            "order": [[1, 'asc']], // default sort po nazivu
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing": "tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Klasa
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 1, // Naziv
                    "render": $.fn.dataTable.render.ellipsis(40),
                }
            ]
        });
    });
</script>