<hr />
<div class="row">
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectPredmet">
            <option value="" disabled selected hidden>Predmet</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectDopis" disabled>
            <option value="" disabled selected hidden>Dopis</option>
        </select>
    </div>
    <div class="margin-20">
        <button type="button" class="dt-button" id="btnSave">Spremi</button>
    </div>
    <div class="margin-20">
        <button type="button" class="dt-button" id="btnDelete">Briši sve</button>
    </div>
<hr />
</div>