@*@model IEnumerable<aes.Models.UgovorOPrijenosu>

    @{
        ViewData["Title"] = "Index";
    }*@

<h4>Ugovori o prijenosu</h4>
<hr />
<p>
    <a asp-action="Create">Dodaj novog</a>
</p>
<hr />
<table class="display nowrap" id="UgovoriOPrijenosuTable" style="width:100%">
    <thead>
        <tr>
            <th>Broj ugovora</th>
            <th>Datum prijenosa</th>
            <th>Datum potpisa</th>
            <th>Kupac</th>
            <th>Kupac OIB</th>
            <th>Klasa ugovora</th>
            <th>RBR ugovora</th>
            <th>Klasa dostave</th>
            <th>RBR dostave</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        $('#UgovoriOPrijenosuTable').DataTable({
            "ajax": {
                "url": "/UgovoriOPrijenosu/GetList",
                "type": "POST",
                "datatype": "json"
            },
            // name mi treba za filter u controlleru - taj se parametar pretražuje po nazivu
            // koristi se kao selector (nije posve jasna dokumentacija)
            "columns": [
                { "data": "brojUgovora", "name": "brojUgovora" },
                {
                    "data": null, "name": "datumPrijenosa",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                {
                    "data": null, "name": "datumPotpisa",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                { "data": "kupac", "name": "kupac" },
                { "data": "kupacOib", "name": "kupacOib" },
                { "data": "dopis.predmet.klasa", "name": "dopis.predmet.klasa" },
                { "data": "rbrUgovora", "name": "rbrUgovora" },
                { "data": "dopisDostave.predmet.klasa", "name": "dopisDostave.predmet.klasa" },
                { "data": "rbrDostave", "name": "rbrDostave" },
            ],
            "paging": true,
            "serverSide": true,
            "order": [[2, 'asc']], // default sort po datumu potpisa HEP-a
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing": "tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Broj ugovora
                    "render": $.fn.dataTable.render.ellipsis(14),
                },
                {
                    "targets": 3, // Kupac
                    "render": $.fn.dataTable.render.ellipsis(40),
                },
                {
                    "targets": 4, // Kupac OIB
                    "render": $.fn.dataTable.render.ellipsis(13),
                },
                {
                    "targets": 5, // Klasa ugovora
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 6, // RBR ugovora
                    "render": $.fn.dataTable.render.ellipsis(3),
                },
                {
                    "targets": 7, // Klasa dostave
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 8, // RBR dostave
                    "render": $.fn.dataTable.render.ellipsis(3),
                },
            ]
        });
    });
</script>