<div class="content-bg">
<div class="row head-bg justify-content-between">
    <p class="col-sm-10 h6">Ugovori o prijenosu ugovora o korištenju mreže - pregled</p>
    <a class="link-head" asp-controller="UgovoriOPrijenosu" asp-action="Create">
        <i class="bi bi-plus"></i>unos novog
    </a>

</div>
    <table class="display nowrap w-100" id="UgovoriOPrijenosuTable">
        <thead>
        <tr>
            <th>Broj ugovora</th>
            <th>Ugovor o korištenju</th>
            <th>Datum prijenosa</th>
            <th>Datum potpisa</th>
            <th>Kupac</th>
            <th>Kupac OIB</th>
            <th>Klasa ugovora</th>
            <th>RBR ugovora</th>
            <th>Klasa dostave</th>
            <th>RBR dostave</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/UgovoriOPrijenosu/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
$(document).ready(function () {
    const input = $('#UgovoriOPrijenosuTable_filter input[type="search"]');
    const filter = $('#UgovoriOPrijenosuTable_filter');
    setStyle(input, filter);
});
</script>