<div class="content-bg">
<div class="row head-bg justify-content-between">
    <p class="col-sm-10 h6">Obračuni potrošnje - HEP - Elektra</p>
    <a class="link-head" asp-controller="RacunElektraObracuniPotrosnje" asp-action="Create">
        <i class="bi bi-plus"></i>unos novog
    </a>
</div>
    <table class="display nowrap w-100" id="ObracunPotrosnjeTable">
        <thead>
        <tr>
            <th>Datum obračuna</th>
            <th>brojilo</th>
            <th>Broj računa</th>
            <th>RVT</th>
            <th>RNT</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/RacunElektraObracuniPotrosnje/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
$(document).ready(function () {
    const input = $('#ObracunPotrosnjeTable_filter input[type="search"]');
    const filter = $('#ObracunPotrosnjeTable_filter');
    setStyle(input, filter);
});
</script>