<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Pregled računa - HEP - Elektra rate</p>
        <a class="link-head" asp-controller="RacuniElektraRate" asp-action="Create">
            <i class="bi bi-plus"></i>unos novih
        </a>
    </div>
    <div>
        <partial name="_PredmetiDopisiFilter" />
    </div>
    <table class="display nowrap w-100" id="IndexTable">
        <thead>
            <tr>
                <th>id</th> @* invisible *@
                <th>Redni broj</th>
                <th>Broj računa</th>
                <th>Ugovorni račun</th>
                <th>Razdoblje</th>
                <th>Iznos</th>
                <th>Klasa plaćanja</th>
                <th>Datum potvrde</th>
                <th>Napomena</th>
                <th>Akcija</th> @* seen in editor *@
            </tr>
        </thead>
    </table>
</div>
<script>
    let dopisiForFilter;
    let isItEditing = false;
   // let isItForFilter = false;
    const selectDopis = $("#selectDopis");
    const GetPredmetiDataForFilterUrl = "/RacuniElektraRate/GetPredmetiDataForFilter";
    const GetDopisiDataForFilterUrl = "/RacuniElektraRate/GetDopisiDataForFilter";

    $("#selectDopis").change(function () {
        data_dopis = $("#selectDopis :selected").val();
        refreshWithFilteredData();
    });

    function refreshWithFilteredData() {
        $('#IndexTable').DataTable().ajax.reload();
    }
</script>
<script src="~/js/_js_global/filterPredmetiDopisi.js"></script>
<script src="~/js/_js_global/InlineEdit.js"></script>
<script src="~/js/RacuniElektraRate/FilterPredmetiDopisiConfig.js"></script>

<script src="~/js/alertify/alertify.min.js"></script>
<link rel="stylesheet" href=~/js/alertify/css/alertify.css>
<script src="~/js/RacuniElektraRate/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
    $(document).ready(function () {
        const input = $('#IndexTable_filter input[type="search"]');
        const filter = $('#IndexTable_filter');
        setStyle(input, filter);
    });
</script>