<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Pregled kupaca - HEP - Elektra</p>
    </div>
    <p>
        <a asp-action="Create">Dodaj novog</a>
    </p>
    <hr/>
    <table class="display nowrap w-100" id="ElektraKupacTable">
        <thead>
        <tr>
            <th>Ugovorni račun</th>
            <th>Mjerno mjesto</th>
            <th>Stan ID</th>
            <th>Šifra objekta</th>
            <th>Adresa</th>
            <th>Kat</th>
            <th>Broj stana</th>
            <th>Četvrt</th>
            <th>Površina</th>
            <th>Napomena(kupac)</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/ElektraKupci/IndexDatatables.js"></script>