@model IEnumerable<aes.Models.ElektraKupac>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="display nowrap" id="ElektraKupacTable" style="width:100%">
    <thead>
        <tr>
            <th>Ugovorni račun</th>
            <th>Omm</th>
            <th>Napomena</th>
        </tr>
    </thead>
</table>
<script>
    $(document).ready(function () {
        $('#ElektraKupacTable').DataTable({
            "ajax": {
                "url": "/ElektraKupci/GetList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "UgovorniRacun", "name": "UgovorniRacun" },
                { "data": "Ods.Omm", "name": "Ods.Omm" },
                { "data": "napomena", "name": "Napomena" }
            ],
            "paging": true,
            "serverSide": true,
            "order": [[1, 'asc']],
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing": "tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Ugovorni račun
                    "render": $.fn.dataTable.render.ellipsis(8),
                },
                {
                    "targets": 1, // Omm
                    "render": $.fn.dataTable.render.ellipsis(5),
                },
                {
                    "targets": 2, // Napomena
                    "render": $.fn.dataTable.render.ellipsis(8),
                }
            ]
        });
    });
</script>
