@model aes.Models.Ods

@{
    ViewData["Title"] = "Create";
}

<h4>Unos novog mjernog mjesta</h4>

<div>
    <partial name="_Stan" model="ViewBag.scontext" />
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StanId" class="control-label"></label>
                <input type="hidden" asp-for="StanId" id="SId" readonly class="form-control" />
                <span asp-validation-for="StanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" hidden></label>
                <input id="StanId" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Omm" class="control-label"></label>
                <input asp-for="Omm" id="Omm" class="form-control" />
                <span asp-validation-for="Omm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Napomena" class="control-label"></label>
                <input asp-for="Napomena" class="form-control" />
                <span asp-validation-for="Napomena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}