@model aes.Models.Ods
@{
    ViewData["Title"] = "Create";
}
<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Unos novog mjernog mjesta</p>
    </div>
    <div>
        <partial name="_Stan" />
    </div>
    <br />
    <hr />
    <div class="row col-sm-auto padding-30">
        <label class="form-label col-form-label-sm" id="stanText"> </label>
    </div>
    <div class="row space-10-10">
        <div class="col-md-6">
            <form asp-action="Create" class="row g-3 d-flex justify-content-start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-2 invisible" hidden>
                    <label hidden asp-for="StanId" class="control-label"></label>
                    <input type="hidden" asp-for="StanId" id="SId" readonly class="form-control form-control-sm" />
                    <span asp-validation-for="StanId" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-2">
                    <label class="control-label" hidden></label>
                    <input id="StanId" readonly class="form-control form-control-sm" placeholder="Stan ID" />
                </div>
                <br />
                <div class="col-md-4">
                    <label hidden asp-for="Omm" class="control-label"></label>
                    <input asp-for="Omm" id="Omm" class="form-control form-control-sm" placeholder="Obračunsko mjerno mjesto" />
                    <span asp-validation-for="Omm" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-4">
                    <label hidden asp-for="Napomena" class="control-label"></label>
                    <input asp-for="Napomena" class="form-control form-control-sm" placeholder="Napomena" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <button type="submit" value="Create" class="dt-button">Spremi</button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <button @Url.Action("Index", "Ods") type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
        @* <a asp-action="Index">Back to List</a>*@
    </div>
</div>

@section Scripts {
    <script src="~/js/DatatablesSearchStyle.js"></script>
    <script src="~/js/Ods/NotificationBuilder.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    $(document).ready(function () {
        const input = $('#_StanTable_filter input[type="search"]');
        const filter = $('#_StanTable_filter');
        setStyle(input, filter);
    });
</script>
}