@using aes.Models.Racuni
@model IEnumerable<RacunHolding>

@{
    ViewData["Title"] = "Create";

    ViewBag.plch = "Datum izdavanja";
    ViewBag.inputType = "date";
}

<div class="content-bg">
    <div class="head-bg">
        <p class="pf08">Računi Holding - kreiraj novog</p>
    </div>
    <div class="container">
        <div>
            <partial name="_BillsAddNew" />
        </div>
    </div>
    <div class="space-10-10">
        <div id="ind">
            <table class="display nowrap w-100" id="IndexTable">
                <thead>
                    <tr>
                        <th>Radni broj</th>
                        <th>Broj računa</th>
                        <th>Stan ID</th>
                        <th>Adresa</th>
                        <th>Korisnik</th>
                        <th>Vlasništvo</th>
                        <th>Datum izdavanja</th>
                        <th>Iznos</th>
                        <th>Napomena</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
            </table>
            <br />
        </div>
        <div>
            <partial name="_SaveDeleteBottomCreate" />
        </div>
        <hr />
        <div>
            <button onclick="location.href='@Url.Action("Index", "BillsHolding")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak</button>
        </div>
    </div>
</div>

<script>
    const GetCustomersDataUrl = "/BillsHolding/GetCustomers";
    const GetCaseFilesDataForFilterUrl = "/BillsHolding/GetCaseFilesForCreate";
    const GetLettersDataForFilterUrl = "/BillsHolding/GetLettersDataForCreate";
    const uploadActionUrl ="/BillsHolding/Upload";
</script>
<script src="~/js/Datatables/Create/addRowBills.js"></script>
<script src="~/js/Datatables/Create/addNewBills.js"></script>
<script src="~/js/Datatables/Create/BillsUpload.js"></script>
<script src="~/js/Datatables/Create/BillsHoldingTable.js"></script>
<script src=~/js/_js_global/notificationBuilder/GlobalVariables.js></script>
<script src=~/js/_js_global/notificationBuilder/NotificationBuilderHolding.js></script>
<div> <partial name="Scripts/_CreateScripts" /> </div>
