@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">TO-DO:</h4>
    <ul>
        <li>TODO: dokumentirati kod</li>
        <li>TODO: ne radi lokalizacija (decimale sa zarezom)</li>
        <li><s>TODO: test funkcije s httpget za testiranje JSON</s></li>
        <li>TODO: modele za ugovore</li>
        <li>TODO: urediti detalje i dodati tabove (jquery)</li>
        <li>TODO: excel export (postoji plugin u datatables - nisam posve sretan s njim)</li>
        <li>TODO: drag-and-drop funkcionalnost i csv reader za umetanje u bazu</li>
        <li>TODO: dinamičko dodavanje redova za račune u create</li>
        <li>TODO: validacija kod dinamičkog dodavanja</li>
        <li>TODO: drag-and-drop .xslx za ažuriranje stanova</li>
        <li>TODO: brisanje nepotrebnog koda (overhead)</li>
        <li>TODO: trebaju mi modeli za preuzimanje/predaju stanova sa stanjima brojila (validacija)</li>
        <li>TODO: testiranje performansi</li>
        <li>TODO: database history</li>
        <li>TODO: autentifikacija</li>
        <li>TODO: ikone umjesto a href</li>
        <li>TODO: neka vrsta logiranja</li>
        <li>TODO: error handleri</li>
        <li>TODO: code cleanup</li>
        <li>TODO: vidjeti u bazi CASCADE, u migracijama dodati NoAction gdje treba</li>
    </ul>
</div>
