<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Stanovi - pregled</p>
    </div>
    <table class="display nowrap w-100" id="indexTable">
        <thead>
            <tr>
                <th>Stan ID</th>
                <th>Šifra objekta</th>
                <th>Adresa</th>
                <th>Kat</th>
                <th>Broj stana</th>
                <th>Četvrt</th>
                <th>Površina</th>
                <th>Korisnik</th>
                <th>Status</th>
                <th>Vlasništvo</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/js/Datatables/Index/StanoviDatatable.js"></script>
<script src="~/js/_js_global/DatatablesSearchStyle.js"></script>
<script>
    $(document).ready(function () {
        const input = $('#indexTable_filter input[type="search"]');
        const filter = $('#indexTable_filter');
        setStyle(input, filter);
    });
</script>