@model IEnumerable<aes.Models.Stan>

@{
    ViewData["Title"] = "Index";
}

<h4>Stanovi - pregled</h4>

<hr />
<p>
    <a asp-action="Create">Dodaj novi</a>
</p>
<hr />
<table class="display nowrap" id="indexTable" style="width:100%">
    <thead>
        <tr>
            <th>Stan ID</th>
            <th>Šifra objekta</th>
            <th>Adresa</th>
            <th>Kat</th>
            <th>Broj stana</th>
            <th>Četvrt</th>
            <th>Površina</th>
            <th>Korisnik</th>
            <th>Status</th>
            <th>Vlasništvo</th>
        </tr>
    </thead>
</table>
@section scripts{

}
<script>
    $(document).ready(function () {
        $('#indexTable').DataTable({
            "ajax": {
                "url": "/Stanovi/GetList",
                "type": "POST",
                "datatype": "json"                
            },
            "columns": [
                {
                    "data": null, "name": "StanId",
                    "render": function (data, type, row, meta) {
                        return '<a href="Stanovi/Details/' + data.id + '">' + data.stanId + '</a>';
                    }
                
                },
                {
                    "data": null, "name": "SifraObjekta",
                    "render": function (data, type, row, meta) {
                        return '<a href="Stanovi/Details/' + data.id + '">' + data.sifraObjekta + '</a>';
                    }
                },
                { "data": "adresa", "name": "Adresa" },
                { "data": "kat", "name": "Kat" },
                { "data": "brojSTana", "name": "BrojSTana" },
                { "data": "\u010Detvrt", "name": "Četvrt" },
                { "data": "povr\u0161ina", "name": "Površina" },
                { "data": "korisnik", "name": "Korisnik" },
                { "data": "statusKori\u0161tenja", "name": "StatusKorištenja" },
                { "data": "vlasni\u0161tvo", "name": "Vlasništvo" },
            ],
            "paging":true,
            "serverSide":true,
            "order": [[2, 'asc']],
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing":"tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Stan ID
                    "render": $.fn.dataTable.render.ellipsis(5),
                },
                {
                    "targets": 1, // Šifra objekta
                    "render": $.fn.dataTable.render.ellipsis(8),
                },
                {
                 "targets": 2, // Adresa
                 "render": $.fn.dataTable.render.ellipsis(34),
                },
                {
                    "targets": 3, // Kat
                    "render": $.fn.dataTable.render.ellipsis(10),
                },
                {
                    "targets": 4, // Broj stana
                    "render": $.fn.dataTable.render.ellipsis(12),
                },
                {
                    "targets": 5, // Četvrt
                    "render": $.fn.dataTable.render.ellipsis(20),
                },
                {
                    "targets": 6, // Površina
                    "render": $.fn.dataTable.render.ellipsis(6),
                },
                {
                 "targets": 7, // Korisnik
                 "render": $.fn.dataTable.render.ellipsis(20)
                },
                {
                    "targets": 8, // Status
                    "render": $.fn.dataTable.render.ellipsis(8)
                },
                {
                    "targets": 9, // Vlasništvo
                    "render": $.fn.dataTable.render.ellipsis(10)
                }
            ]
        });
    });
</script>
