@model IEnumerable<aes.Models.Stan>

@{
    ViewData["Title"] = "Index";
}

<h4>Stanovi - pregled</h4>

<hr />
<p>
    <a asp-action="Create">Dodaj novi</a>
</p>
<hr />
<table class="display nowrap" id="indexTable" style="width:100%">
    <thead>
        <tr>
            <th>StanId</th>
            <th>SifraObjekta</th>
            <th>Adresa</th>
            <th>Kat</th>
            <th>BrojSTana</th>
            <th>Četvrt</th>
            <th>Površina</th>
            <th>Korisnik</th>
            <th>StatusKorištenja</th>
            <th>Vlasništvo</th>
        </tr>
    </thead>
</table>
@section scripts{

}
<script>
    $(document).ready(function () {
        $('#indexTable').DataTable({
            "ajax": {
                "url": "/Stanovi/GetList",
                "type": "POST",
                "datatype": "json"
                
            },
            "columns": [
                { "data": "id", "name": "StanID" },
                { "data": "sifraObjekta", "name": "SifraObjekta" },
                { "data": "adresa", "name": "Adresa" },
                { "data": "kat", "name": "Kat" },
                { "data": "brojSTana", "name": "BrojSTana" },
                { "data": "\u010Detvrt", "name": "Četvrt" },
                { "data": "povr\u0161ina", "name": "Površina" },
                { "data": "korisnik", "name": "Korisnik" },
                { "data": "statusKori\u0161tenja", "name": "StatusKorištenja" },
                { "data": "vlasni\u0161tvo", "name": "Vlasništvo" },
            ],
            "paging":true,
            "serverSide":true,
            "order": [[2, 'asc']],
            "bLengthChange": false,
            "processing": true,
            "language": {
                "processing":"tražim..."
            },
            "scrollX": true,
            "scrollY": true,
            "columnDefs": [
                {
                 "targets": 2,
                 "render": $.fn.dataTable.render.ellipsis(30),
                },
                {
                 "targets": 7,
                 "render": $.fn.dataTable.render.ellipsis(20)
                },
                {
                    "targets": 5,
                    "render": $.fn.dataTable.render.ellipsis(20)
                }
            ]
        });
    });
</script>
