@model IEnumerable<aes.Models.RacunElektra>
@{
    ViewData["Title"] = "Create";
}
<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Elektra - računi</p>
    </div>
    <div class="container">
        <div>
            <partial name="_RacuniAddNew" />
        </div>
    </div>
    <div class="space-10-10">
        <div id="ind">
            <table class="display nowrap w-100" id="indexTable">
                <thead>
                    <tr>
                        <th>rbr</th>
                        <th>Broj računa</th>
                        <th>Stan ID</th>
                        <th>Adresa</th>
                        <th>Korisnik</th>
                        <th>Vlasništvo</th>
                        <th>Datum izdavanja</th>
                        <th>Iznos</th>
                        <th>Napomena</th>
                        <th>Akcija</th>
                    </tr>
                </thead>

            </table>
            <br />

            <hr />
            <div class="row">
                <div class="margin-20">
                    <button type="button" class="dt-button" id="btnSave">Spremi</button>
                </div>
                <div class="margin-20">
                    <button type="button" class="dt-button" id="btnDelete">Briši sve</button>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <button onclick="location.href='@Url.Action("Index", "RacuniElektra")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
            @*<a asp-action="Index">Back to List</a>*@
        </div>
    </div>
</div>

@section Scripts {

    <script>
        let dopisiForFilter;
        const selectDopis = $("#selectDopis");
    </script>
    <script src="~/js/RacuniElektra/Create/FilterPredmetiDopisiConfig.js"></script>
    <script src="~/js/filterPredmetiDopisi.js"></script>

    <script src="~/js/RacuniElektra/Create/NotificationBuilder.js"></script>
    <script src="~/js/RacuniElektra/Create/GlobalVariables.js"></script>
    <script src="~/js/RacuniElektra/Create/CreateDatatables.js"></script>

    <script src="~/js/alertify/alertify.min.js"></script>
    <link rel="stylesheet" href=~/js/alertify/css/alertify.css>
    <script src="~/js/DatatablesSearchStyle.js"></script>
    <script>
        $(document).ready(function () {
            const input = $('#indexTable_filter input[type="search"]');
            const filter = $('#indexTable_filter');
            setStyle(input, filter);
        });
    </script>

}