<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Pregled računa - HEP - Elektra</p>
        <a class="link-head" asp-controller="RacuniElektra" asp-action="Create">
            <i class="bi bi-plus"></i>unos novih
        </a>
    </div>
    <form class="row g-3 d-flex justify-content-start">
            <div class="col-md-2">
                <select class="form-control form-control-sm" id="selectPredmet">
                    <option value="" disabled selected hidden>Predmet</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control form-control-sm" id="selectDopis" disabled>
                    <option value="" disabled selected hidden>Dopis</option>
                </select>
            </div>
        </form>
        <table class="display nowrap w-100" id="RacunElektraTable">
            <thead>
            <tr>
                <th>id</th>
                <th>Broj računa</th>
                <th>Ugovorni račun</th>
                <th>Datum izdavanja</th>
                <th>Iznos</th>
                <th>Klasa plaćanja</th>
                <th>Datum potvrde</th>
                <th>Napomena</th>

            </tr>
            </thead>
        </table>
    </div>
<script src="~/js/InlineEdit.js"></script>

<script src="~/js/RacuniElektra/Filter.js"></script>
<script src="~/js/RacuniElektra/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
$(document).ready(function () {
    const input = $('#RacunElektraTable_filter input[type="search"]');
    const filter = $('#RacunElektraTable_filter');
    setStyle(input, filter);
});
</script>

<script src="~/js/alertify/alertify.min.js"></script>
<link rel="stylesheet" href=~/js/alertify/css/alertify.css>
@* <link rel="stylesheet" href="~/js/alertify/css/themes/semantic.css"> *@
