@*@model IEnumerable<aes.Models.Dopis>

    @{
        ViewData["Title"] = "Index";
    }*@

<h4>Obračuni potrošnje - HEP - Elektra</h4>
<hr />
<p>
    <a asp-action="Create">Dodaj novog</a>
</p>
<hr />
<table class="display nowrap" id="DopisTable" style="width:100%">
    <thead>
        <tr>
            <th>KLASA</th>
            <th>Naziv</th>
            <th>URBROJ</th>
            <th>Datum dopisa</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {
        $('#DopisTable').DataTable({
            "ajax": {
                "url": "/Dopisi/GetList",
                "type": "POST",
                "datatype": "json"
            },
            // name mi treba za filter u controlleru - taj se parametar pretražuje po nazivu
            // koristi se kao selector (nije posve jasna dokumentacija)
            "columns": [
                { "data": "predmet.klasa", "name": "predmet.klasa" },
                { "data": "predmet.naziv", "name": "predmet.naziv" },
                { "data": "urbroj", "name": "urbroj" },
                {
                    "data": null, "name": "datum",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
            ],
            "paging": true,
            "serverSide": true,
            "order": [[3, 'asc']], // default sort po datumu
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing": "tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Klasa
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 1, // Naziv
                    "render": $.fn.dataTable.render.ellipsis(40),
                },                {
                    "targets": 2, // UrBroj
                    "render": $.fn.dataTable.render.ellipsis(23),
                }
            ]
        });
    });
</script>