<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Dopisi - pregled</p>
        <button class="button-add-new" id="aAddNew">
            <i class="bi bi-plus"></i>unos novog
        </button>
    </div>
    <table class="display nowrap w-100" id="DopisTable">
        <thead>
            <tr>
                <th>KLASA</th>
                <th>Naziv</th>
                <th>URBROJ</th>
                <th>Datum dopisa</th>
            </tr>
        </thead>
    </table>
    <div id="predmetiAddNew" style="display:none;">
        <partial name="_DopisiAddNew" />
    </div>
</div>

<script src="~/js/Dopisi/IndexDatatables.js"></script>
<script src="~/js/_js_global/DatatablesSearchStyle.js"></script>
<script src="~/js/_js_global/_addNewHideUnhide.js"></script>

<script>
    $(document).ready(function () {
        const input = $('#DopisTable_filter input[type="search"]');
        const filter = $('#DopisTable_filter');
        setStyle(input, filter);
    });
</script>