<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Dopisi - pregled</p>
        <a class="link-head" asp-controller="Dopisi" asp-action="Create">
            <i class="bi bi-plus"></i>unos novog
        </a>
    </div>
    <table class="display nowrap w-100" id="DopisTable">
        <thead>
        <tr>
            <th>KLASA</th>
            <th>Naziv</th>
            <th>URBROJ</th>
            <th>Datum dopisa</th>
        </tr>
        </thead>
    </table>
</div>

<script src="~/js/Dopisi/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
$(document).ready(function () {
    const input = $('#DopisTable_filter input[type="search"]');
    const filter = $('#DopisTable_filter');
    setStyle(input, filter);
});
</script>