@model aes.Models.OdsKupac

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OdsKupac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SifraKupca" class="control-label"></label>
                <input asp-for="SifraKupca" class="form-control" />
                <span asp-validation-for="SifraKupca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdsId" class="control-label"></label>
                <select asp-for="OdsId" class ="form-control" asp-items="ViewBag.OdsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Napomena" class="control-label"></label>
                <input asp-for="Napomena" class="form-control" />
                <span asp-validation-for="Napomena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
