@model aes.Models.OdsKupac
@{
    ViewData["Title"] = "Create";
}
<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Unos novog kupca - HEP - ODS</p>
    </div>
    <div>
        <partial name="_Ods" />
    </div>
    <hr />
    <br />
    <div class="row col-sm-auto padding-30">
        <label class="form-label col-form-label-sm" id="stanText"> </label>
    </div>
    <div class="row space-10-10">
        <div class="col-md-6">
            <form asp-action="Create" class="row g-3 d-flex justify-content-start">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-2 invisible" hidden>
                    <label hidden asp-for="OdsId" class="control-label"></label>
                    <input type="hidden" asp-for="OdsId" id="OId" readonly class="form-control form-control-sm" />
                    <span asp-validation-for="OdsId" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="control-label" hidden></label>
                    <input id="OMM" readonly class="form-control form-control-sm" placeholder="OMM" />
                </div>
                <div class="col-md-4">
                    <label hidden asp-for="SifraKupca" class="control-label"></label>
                    <input asp-for="SifraKupca" class="form-control form-control-sm" placeholder="Šifra kupca" />
                    <span asp-validation-for="SifraKupca" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label hidden asp-for="Napomena" class="control-label"></label>
                    <input asp-for="Napomena" class="form-control form-control-sm" placeholder="Napomena" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <button type="submit" value="Spremi" class="dt-button">Spremi</button>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div>
        <button onclick="location.href='@Url.Action("Index", "OdsKupci")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak na listu</button>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/DatatablesSearchStyle.js"></script>
    <script src="~/js/Ods/NotificationBuilder.js"></script>

    <script>
        $(document).ready(function () {
            const input = $('#OdsTable_filter input[type="search"]');
            const filter = $('#OdsTable_filter');

            setStyle(input, filter); // postavljam css za searchbox
        });

        $("#OMM").on("change", function () {
            let i = $('#SId').val();

            GetStanData(i); // poziv ajax f-je za notification builder
        });
    </script>
}