@model aes.Models.OdsKupac

@{
    ViewData["Title"] = "Create";
}
<div class="content-bg">
    <div class="head-bg">
        <p class="h6">Unos novog kupca - HEP - ODS</p>
    </div>

    <div>
        <partial name="_Ods" />
    </div>
    
    <hr />
    
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label hidden asp-for="OdsId" class="control-label"></label>
                    <input type="hidden" asp-for="OdsId" id="OId" readonly class="form-control" />
                    <span asp-validation-for="OdsId" class="text-danger"></span>

                    <br />

                    <label class="control-label" hidden></label>
                    <input id="OMM" readonly class="form-control" placeholder="OMM" />

                    <br />

                    <label hidden asp-for="SifraKupca" class="control-label"></label>
                    <input asp-for="SifraKupca" class="form-control" placeholder="Šifra kupca"/>
                    <span asp-validation-for="SifraKupca" class="text-danger"></span>

                    <br />

                    <label hidden asp-for="Napomena" class="control-label"></label>
                    <input asp-for="Napomena" class="form-control" placeholder="Napomena" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
