<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 h6">Pregled računa - HEP - Elektra</p>
        <a class="link-head" asp-controller="OdsKupci" asp-action="Create">
            <i class="bi bi-plus"></i>unos novog
        </a>
    </div>
    <table class="display nowrap w-100" id="OdsKupacTable">
        <thead>
        <tr>
            <th>Šifra Kupca</th>
            <th>Mjerno mjesto</th>
            <th>Stan ID</th>
            <th>Šifra objekta</th>
            <th>Adresa</th>
            <th>Kat</th>
            <th>Broj stana</th>
            <th>Četvrt</th>
            <th>Površina</th>
            <th>Napomena(kupac)</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/OdsKupci/IndexDatatables.js"></script>
<script src="~/js/DatatablesSearchStyle.js"></script>
<script>
$(document).ready(function () {
    const input = $('#OdsKupacTable_filter input[type="search"]');
    const filter = $('#OdsKupacTable_filter');
    setStyle(input, filter);
});
</script>