@model aes.Models.UgovorOKoristenju

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UgovorOKoristenju</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BrojUgovora" class="control-label"></label>
                <input asp-for="BrojUgovora" class="form-control" />
                <span asp-validation-for="BrojUgovora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdsId" class="control-label"></label>
                <select asp-for="OdsId" class="form-control" asp-items="ViewBag.OdsId"></select>
                <span asp-validation-for="OdsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumPotpisaHEP" class="control-label"></label>
                <input asp-for="DatumPotpisaHEP" class="form-control" />
                <span asp-validation-for="DatumPotpisaHEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumPotpisaGZ" class="control-label"></label>
                <input asp-for="DatumPotpisaGZ" class="form-control" />
                <span asp-validation-for="DatumPotpisaGZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DopisId" class="control-label"></label>
                <select asp-for="DopisId" class="form-control" asp-items="ViewBag.DopisId"></select>
                <span asp-validation-for="DopisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RbrUgovora" class="control-label"></label>
                <input asp-for="RbrUgovora" class="form-control" />
                <span asp-validation-for="RbrUgovora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DopisDostaveId" class="control-label"></label>
                <select asp-for="DopisDostaveId" class="form-control" asp-items="ViewBag.DopisDostaveId"></select>
                <span asp-validation-for="DopisDostaveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RbrDostave" class="control-label"></label>
                <input asp-for="RbrDostave" class="form-control" />
                <span asp-validation-for="RbrDostave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
