@*@model IEnumerable<aes.Models.UgovorOKoristenju>

    @{
        ViewData["Title"] = "Index";
    }*@
<div class="content-bg">
<div class="row head-bg justify-content-between">
    <p class="col-sm-10 h6">Ugovori o korištenju - pregled</p>
    <a class="link-head" asp-controller="UgovoriOKoristenju" asp-action="Create">
        <i class="bi bi-plus"></i>unos novog
    </a>

</div>
    
    <table class="display nowrap w-100" id="UgovoriOKoristenjuTable">
        <thead>
        <tr>
            <th>Broj ugovora</th>
            <th>Mjerno mjesto</th>
            <th>Datum potpisa HEP</th>
            <th>Datum potpisa GZ</th>
            <th>Klasa ugovora</th>
            <th>RBR ugovora</th>
            <th>Klasa dostave</th>
            <th>RBR dostave</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#UgovoriOKoristenjuTable').DataTable({
            "ajax": {
                "url": "/UgovoriOKoristenju/GetList",
                "type": "POST",
                "datatype": "json"
            },
            // name mi treba za filter u controlleru - taj se parametar pretražuje po nazivu
            // koristi se kao selector (nije posve jasna dokumentacija)
            "columns": [
                { "data": "brojUgovora", "name": "brojUgovora" },
                { "data": "ods.omm", "name": "ods.omm" },
                {
                    "data": null, "name": "datumPotpisaHEP",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                {
                    "data": null, "name": "datumPotpisaGZ",
                    "render": function (data, type, row) {
                        return moment(data).format("DD.MM.YYYY")
                    }
                },
                { "data": "dopis.predmet.klasa", "name": "dopis.predmet.klasa" },
                { "data": "rbrUgovora", "name": "rbrUgovora" },
                { "data": "dopisDostave.predmet.klasa", "name": "dopisDostave.predmet.klasa" },
                { "data": "rbrDostave", "name": "rbrDostave" },
            ],
            "paging": true,
            "serverSide": true,
            "order": [[2, 'asc']], // default sort po datumu potpisa HEP-a
            "bLengthChange": false,
            //"processing": true,
            "language": {
                "processing": "tražim..."
            },
            "scrollX": true,
            "columnDefs": [
                {
                    "targets": 0, // Broj ugovora
                    "render": $.fn.dataTable.render.ellipsis(14),
                },                {
                    "targets": 1, // OMM
                    "render": $.fn.dataTable.render.ellipsis(8),
                },
                {
                    "targets": 3, // Klasa ugovora
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 4, // RBR ugovora
                    "render": $.fn.dataTable.render.ellipsis(3),
                },
                {
                    "targets": 5, // Klasa dostave
                    "render": $.fn.dataTable.render.ellipsis(21),
                },
                {
                    "targets": 6, // RBR dostave
                    "render": $.fn.dataTable.render.ellipsis(3),
                },                
            ]
        });
    });
</script>