<div class="content-bg">
<div class="row head-bg justify-content-between">
    <p class="col-sm-10 h6">Ugovori o korištenju - pregled</p>
    <a class="link-head" asp-controller="UgovoriOKoristenju" asp-action="Create">
        <i class="bi bi-plus"></i>unos novog
    </a>
</div>
    <table class="display nowrap w-100" id="UgovoriOKoristenjuTable">
        <thead>
        <tr>
            <th>Broj ugovora</th>
            <th>Mjerno mjesto</th>
            <th>Datum potpisa HEP</th>
            <th>Datum potpisa GZ</th>
            <th>Klasa ugovora</th>
            <th>RBR ugovora</th>
            <th>Klasa dostave</th>
            <th>RBR dostave</th>
        </tr>
        </thead>
    </table>
</div>
<script src="~/js/UgovoriOKoristenju/IndexDatatables.js"></script>