@using aes.Models.Racuni
@model IEnumerable<RacunElektraIzvrsenjeUsluge>

@{
    ViewData["Title"] = "Create";
}

<div class="content-bg">
    <div class="head-bg">
        <p class="pf08">Račun Elektra Izvršenje Usluge - kreiraj novog</p>
    </div>

    <div class="container">
        <div>
            <partial name="_BillsElektraServicesAddNew" />
        </div>
    </div>
    <div class="space-10-10">
        <div id="ind">
            <table class="display nowrap w-100" id="IndexTable">
                <thead>
                    <tr>
                        <th>Radni broj</th>
                        <th>Broj računa</th>
                        <th>Stan ID</th>
                        <th>Adresa</th>
                        <th>Korisnik</th>
                        <th>Vlasništvo</th>
                        <th>Datum izdavanja</th>
                        <th>Datum izvršenja</th>
                        <th>Usluga</th>
                        <th>Iznos</th>
                        <th>Napomena</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
            </table>
            <br />
        </div>
        <div>
            <partial name="_SaveDeleteBottomCreate" />
        </div>
        <hr />
        <div>
            <button onclick="location.href='@Url.Action("Index", "BillsElektraServices")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak</button>
        </div>
    </div>
</div>

<script>
    const GetCustomersDataUrl = "/BillsElektraServices/GetCustomers";
    const GetCaseFilesDataForFilterUrl = "/BillsElektraServices/GetCaseFilesForCreate";
    const GetLettersDataForFilterUrl = "/BillsElektraServices/GetLettersDataForCreate";
</script>
<script src="~/js/Datatables/Create/addRowBillsServices.js"></script>
<script src="~/js/Datatables/Create/addNewBillsServices.js"></script>
<script src="~/js/Datatables/Create/BillsElektraServicesTable.js"></script>
<script src="~/js/_js_global/notificationBuilder/GlobalVariables.js"></script>
<script src="~/js/_js_global/notificationBuilder/NotificationBuilder.js"></script>
<div> <partial name="Scripts/_CreateScripts" /> </div>
